<h1>タスク一覧画面</h1>
<%= form_with url: sort_tasks_path, id: "sort_tasks_form" do |f| %>
    <%= f.select :sort_number, [["締め切り日が近い順", 1],
                                ["締め切り日が遠い順", 2] ], 
                                {include_blank: "並び替え"}, 
                                {id: "sort_tasks_select"} %>
<% end %>
<ul class="task_list">
    <li class="element_title">
        <div class="name">タスク名</div>
        <div class="content">内容</div>
        <div class="deadline">締め切り日</div>
    </li>
    <div id="tasks">
        <%= render "task", tasks: @tasks %>
    </div>
</ul>