<h1>ユーザー一覧画面</h1>
<ul class="user_list mt-5">
    <li class="element_title">
        <div class="name">ユーザー名</div>
        <div class="email">メールアドレス</div>
        <div class="task_count">タスク数</div>
        <div class="role">ユーザー種別</div>
    </li>
    <div id="users">
        <%= render @users %>
    </div>
</ul>
