/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Griffy&display=swap');

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
    line-height: initial;
}
input, button, select, optgroup, textarea {
    line-height: initial;
}
a {
    color: #000;
    text-decoration: none;
    &:hover {
        color: initial;
        text-decoration: none;
    }
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
body {
    margin: 0;
}
header {
    font-family: 'Griffy', cursive;
    background-color: #55c500;
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        margin: 0 30px;
        color: #fff;
        li {
            margin: 0 10px;
            font-size: 16px;
            a {
                color: #fff;
            }
            &.logo {
                font-size: 40px;
                font-weight: bold;
            }
            &:hover {
                cursor: pointer;
                color: #000;
            }
        }
    }
}
.main {
    width: 80%;
    margin: 0 auto 100px;
}
.flash {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 90%;
    margin: 10px auto 0;
    text-align: center;
    font-size: 30px;
}
.error_messages {
    .error_list {
        padding: 15px;
        background-color:#fadddd;
        font-weight: bold;
    }
}
