<header>
    <ul>
        <li><h1>TaskTool</h1></li>
        <div class="flex">
            <li class="nav_item"><%= link_to "タスク一覧", tasks_path  %></li>
            <li class="nav_item"><%= link_to "タスク作成", new_task_path  %></li>
        </div>
    </ul>
</header>
